<!-- datos de contacto-->
<div class="container-fluid text-center qr pt-3 accordion-item text-bg-dark">
    <h3 class="pt-5"><strong>Datos para contactarme</strong></h3>
    <h5>Si queres ver mis datos de correo y whatsapp</h5>
    <ul class="accordion-item text-bg-dark">
      <li class="list-group-item accordion-item text-bg-dark"><a href="" target="_blank"><i class="fa-brands fa-whatsapp fa-2x"></i> 2664686636</a></li>
      <li class="list-group-item accordion-item text-bg-dark"><a href="" target="_blank"><i class="fa-solid fa-envelope fa-2x"></i> sosanadir343@gmail.com</a></li>
    </ul>
    <img src="../../assets/noche.jpg.jpg" class="img-thumbnail mb-5" alt="noche">
  </div>
  
  <!--fin datos de contacto-->

