<!--educacion-->
<div class="accordion-item text-bg-success" id="educacion">
    
                <h5 class=" text-bg-primary  accordion-item text-bg-info"><strong>Educacion</strong></h5>
                 
               
            </div>
            
                        <h5 class="accordion-item text-bg-info"><strong> -TITULO DE PROGRAMADOR "Argentina Programa #SeProgramar"</strong></h5>
                        <h5 class="accordion-item text-bg-info"><strong> -Titulo BA 2.0 "front End Developer-Inteligencia Emocional"</strong> </h5>
                        <h5 class="accordion-item text-bg-info"><strong> -Titulo BA 2.0 "Diseño Grafico- Inteligencia Emocional"<strong> 
                        <h5 class="accordion-item text-bg-info" ><strong> -Titulo Secundario "Colegio nº 13 Prof.Roberto Moyano"</strong> </h5>
<!--fin de educacion-->
