/*educacion*/
.acordeon-Educacion {
    margin-top: auto;
    background-position: 0% 25%;
    font-weight: 500;
  }
  div{
    background-color: #88739c;
    text-align: justify;
    
  }
 h5{
    background-color: #88739c;
    text-align: center;
 }