<!--presentacion-->
<div class="fondo">
    <img src="../../assets/nadir sosa (2).png" alt="foto perfil" class="imgred">
  <div class="">
<div class="row">
  <div>
      <h2 class=>ACERCA DE MI
        actualmente tengo 34 años. <br>Vivo en la
        ciudad de San Luis - Capital - Argentina
      </h2>
   </div>
</div>
    
          <div class="row">
            <div class="col-3">
              <!-- Button trigger modal pencil -->
           <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-pencil fa-3"></i>
            </button>
