<!--portada banner-->

    <img src="../../assets/imagenes/dique pf (1).jpg.png" alt="noche" class="w-100">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-3 ">
            <!-- Button trigger modal pencil -->
         <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-pencil fa-3"></i>
          </button>
         </div>
         <!--fin button pencil-->
            <div class="trash col-6 col-sm-3">
                 <!-- Button trigger modal trash -->
                 <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-trash fa-3"></i>
                 </button>
             </div>
             <!--fin button trash-->
    
               
        
                 <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal 1</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        ventana modal 1
        </div>
        <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn">Save changes</button>
        </div>
        </div>
        </div>
        </div>
        <!--fin modal 1-->
        <!-- Modal 2-->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">Modal 2</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        ventana modal 2
        </div>
        <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn">Save changes</button>
        </div>
        </div>
        </div>
        </div>
        <!--fin modal 2-->>
    