<!--experiencia laboral-->
<div class= >
    <div class="container text-center">
            <div class="row">
              <div class="col-3 m-5">
                
                <h5 class=" text-bg-primary"><strong>Experiencia</strong></h5>
              </div>
              
                      
                       <div class=" p-5  border-start-3 rounded-end accordion-item text-bg-info">
                          <h5 class="accordion-item text-bg-info"><strong> -Atencion al publico,venta DE DIRECTV y telefonia celular,EMPRESA CTI MOVIL ;SAN LUIS</strong></h5>
                          <h5 class="accordion-item text-bg-info"><strong> -Ventas y Atencion al publico mayorista en telefonia celular,EMPRESA VIOCOM S.A; SAN LUIS</strong> </h5>
                          <h5 class="accordion-item text-bg-info" ><strong> -Administracion en telefonia celular,EMPRESA TELECOM S.A; SAN LUIS</strong> </h5>
                          <h5 class="accordion-item text-bg-info"><strong> -Estoy capacitandome en #YoProgramo como Full Stack Developer jr </strong></h5>
                       
                          
<!--fin de experiencia laboral-->
