/*experiencia*/
.acordeon-Experiencia {
    background-position: 0% 25%;
    font-weight: 500;
    background-size: 70%;
  }
  div{
    background-color: #9ad73f;
  }
  h5{
   background-color: #6f6fe5;
  }