 <!--referencias-->
 <div class="progresos_referencias accordion-item text-bg-dark">
    <div class="accordion-item container-center bg-dark">
    <h1 class="accordion-header" id="">
     <button class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
      <h5><strong>Referencias:</strong></h5>
      </button>
      </h1>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse bg-dark" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body bg-dark">
         <div class=" row">
       <div class="col-xl-10">
  <section class="referenciassection">
    <h2 class="titulos-pagina" id="referencias">referencias</h2>
       <div class="referencias">
      
       <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option selected>Referencias de Trabajos:</option>
          <option value="1">Trabajo en telefonia como Responsable de Proyectos</option>
          <option value="2">activacion abono y prepago</option>
          <option value="3">Mantenimiento:Manejo de Facturacion y legajos</option>
       </select>
    
        </div>
  <!--fin de referencias-->


